.header {
    background-color: #353A40;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/*-----------------------------------------*/

.carousel-inner .opacidad {
    opacity: 0.4;
}
.carousel-inner {
    overflow: hidden;  
}
.carousel-inner img {
    height: 100%;
    object-fit: cover;
    margin-top: -12%;
    margin-bottom: -6%;
}
#carouselSlidesOnly {
    background-color: black;
}
.carousel-control-prev, .carousel-control-next {
    top: 83%; 
    bottom: auto;
    right: 0px;
}
.carousel-control-prev {
    left: auto;
    right: 70px; 
}

/*-------------------------------------------*/
