* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    background-color: #101820;
    background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0.9) 50%,
        rgba(0, 0, 0, 0) 100%
    ); 
}
header {
    position: relative;
    background-color: #101820;
    background: linear-gradient(
        to top, 
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.9) 100%
    ); 
}
/*----Carousel----*/
.carousel-inner .opacidad {
    opacity: 0.5;
}
.carousel-inner {
    background-color: #101820;
    overflow: hidden;
    height: 100vh;  
    z-index: 1;
}
.carousel-inner .carousel-item {
    position: static;
}

/*----Navegador Principal----*/
#barraNav {
    padding-top: 5%;
    padding-bottom: 7%;
    z-index: 10;
}
.nav-link, .nav-item {
    color: white;
}
.nav-link a:hover {
    cursor: pointer;
}
#barraNav li {
    font-weight: bold;
}
/*----Logo ExplorArg----*/ 
#logotipo {
    gap: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    bottom: 0;
}
#logotipo img {
    width: auto;
    height: 4rem;
    border-radius: 20%;
    border: 10px;
    border-color: white;
    position: relative;
    bottom: 0;
}
/*----Dropdown----*/
.contenedor-drop {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
}
#botonDrop {
    font-weight: bold;
}
span:focus ~ .contenedor-drop {
    display: block;
}
.dropdown {
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 10rem;
    top: 2.7rem;
    right: -3.5rem;
    background: #fff;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
}
.dropdown ul {
    justify-content: center;
    align-items: center;
}
.dropdown li a {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: #101820;
    margin-left: 1.5rem;
}
.dropdown li a:hover {
    background: #262626;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: #fff;
    transition: all 0.4s;
}
/*-------Buscador Vuelos-------*/
#navBuscador {
    width: 80%;
    position: absolute;
    left: 10%;
    z-index: 5;
}
.radiobuttons label{
    font-weight: bold;
}
.formContenedor {
    background-color: #fff;
    padding: 1% 2%;
    border-radius: 100px;
    opacity: 0.75;
}
.formContenedor form {
    display: flex;
}
.formContenedor div {
    width: 20rem;
}
.formulario button {
    border-radius: 25px;
    color: #fff;
    margin-top: 5%;
    margin-left: 25%;
}
.formulario label {
    color: #000000;
    padding-left: 25%;
    font-weight: bold;
    text-shadow: 1px 1px 4px darkgray;
}
.formulario input {
    padding: 5px;
    border-radius: 15px;
    border-width: 3px;
    border-color: #262626;
    margin-left: 20%;
    margin-bottom: 2%;
}
.formulario .destino {
    margin-left: 20px;
}
.formulario .fechaida {
    margin-left: 20px;
}
#vuelta:disabled {
    background-color: #f46f6f;
}
#errorMessages {
    width: 290px;
    text-align: center;
    margin:auto;
    color: #fff;
    font-weight: bold;
    background-color: #ee2b25;
    border-radius: 10px;
}
/*----------------MAIN-----------------*/
.paquetes_ofertas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    color: #fff;

}
.paquetes_ofertas hr {
    width: 20%;
    color: #fff;
    margin: 8px;
}
.promo_vuelos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    color: rgb(255, 255, 255);
}
.promo_vuelos hr {
    width: 20%;
    color: #fff;
    margin: 8px;
}
.actividades_turist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    color: #fff;
}
.actividades_turist hr {
    width: 20%;
    color: #000000;
    margin: 8px;
}
/*----Galería de Cards----*/
section{
    --white: #fff;
    --text: #262626;
    --like: #FF3040;

    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    height: 100%;
    padding: 1rem;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1rem;
}
.card {
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    display: flex;
    width: 20rem;
    
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.card:hover {
    box-shadow: rgba(242, 242, 242, 0.1) 0px 6px 16px;
}
.card__preview {
    height: 12rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.card__preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-out;
}
.card:hover .card__preview img {
    transform: scale(1.15);
}
.card__price {
    background-color: var(--white);
    color: var(--text);
    z-index: 10;
    position: absolute;
    bottom: 1.25rem;
    padding: 0rem 0.5rem;
    border-radius: 0.5rem;
    left: 1.25rem;
    font-weight: bold;
}
.card__content {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: var(--text);
}
.card__bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__buttons {
    display: flex;
    gap: 0.5rem;
}
.card__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__btn svg {
    height: 2rem;
    width: 2rem;
    stroke: var(--text);
    stroke-width: 1.5px;
}
.card__btn--like svg {
    stroke: var(--like);
    fill: var(--like);
}


/*----Galería 2----*/
.cards2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}
.card2 {
    border-color: var(--white);
    border-style: solid;
    border-radius: 1.5rem;
    border-width: 1.4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    display: flex;
    width: 16rem;
    
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
}
.card2:hover {
    box-shadow: rgba(242, 242, 242, 0.1) 0px 6px 16px;
}
.card2_preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-out;
    opacity: 0.8;
}
.card2:hover .card2_preview img {
    transform: scale(1.15);
}
.card2_price {
    background-color: transparent;
    color: var(--white);
    text-shadow: 1px 1px 2px var(--text);
    z-index: 1;
    position: absolute;
    bottom: 0.5rem;
    padding: 0rem 0.5rem;
    left: 1.25rem;
    font-weight: bold;
    font-size: 1.2rem
}
.card2_content {
    color: var(--white);
    text-shadow: 1px 1px 2px black;
    z-index: 1;
    position: absolute;
    padding: 0 0 0 0.5rem;
    left: 1.3rem;
    bottom: 2.7rem;
    font-weight: bold;
}
.card2_description{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    color: var(--white);
    text-shadow: 1px 1px 4px var(--text);
    z-index: 1;
    position: absolute;
    padding: 0 0 0 0.5rem;
    left: 1.5rem;
    bottom: -0.5rem;
    font-style: italic;
    font-size: x-small;
}
.card2_description p {
    padding-left: 5px;
    font-style: normal;
}
.card2_btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    bottom: 1.25rem;
    padding: 0 0 0 0.4rem;
    right: 1rem;
}
.card2_btn svg {
    height: 2rem;
    width: 2rem;
    stroke: var(--white);
    stroke-width: 1.8px;
}
.card2_btn--like svg {
    stroke: var(--like);
    fill: var(--like);
}


/*----Galería Actividades----*/
.actividades {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px; /* Ajusta el espacio entre las tarjetas */
}
.card3 {
    position: relative;
    left: 0;
    width: 9rem;
    height: 10rem;
    border-radius: 0.5rem;
    transition: 1000ms all;
    transform-origin: center left;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    outline: 1px solid var(--background);
    overflow: hidden;
}
.card3 img {
    height: 10rem;
    object-fit: cover;
    border-radius: 0.25rem;
}
.card3:hover {
    cursor: pointer;
    transform: scale(1.15);
}
.card3 figcaption {
    font-size: 1rem;
    position: absolute;
    height: 5rem;
    width: 10rem;
    display: flex;
    align-items: end;
    background: linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    color: var(--white);
    left: 0;
    bottom: 0;
    padding-left: 0.75rem;
    padding-bottom: 0.65rem;
}
.card3:hover ~ .card {
    font-weight: bold;
    text-shadow: 1px 1px 4px var(--text);
    cursor: pointer;
    transform: translateX(1.3rem);
}

.lineafin {
    width: 99%;
    color: #000000;
    margin: 10px;
}
/*-----------------FOOTER------------------*/

.footer {
    background: linear-gradient(45deg, #333333, #000000);
    color: #ffffff;
}

.footer-wrapper {
    max-width: 1200px;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    justify-content: space-between;
    position: relative;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-map {
    text-align: right;
}

.social-icons {
    position: absolute;
    bottom: 2rem;
    padding: 5px;
    margin-left: 25px;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
}
.social-icons img{
    padding: 0 10px 0 10px;
}
